<section class="about">
		<div class="waku waku-1">パっと思いついたこと。あったらいいなと思うこと。ワクワクすること。何か思いついたらとりあえず部屋を作ってコメントしよう。
		</div>
</section>

<section class="ar"><div class="waku waku-1">日々の小さな愚痴、冗談、twiiter等では言えないようなことを思う存分書いてみよう。</div></section>
<div class="ar">
	<section class="introduce">
	     <div class="saito"><h1 class="saito">サイトについて</h1>
	     このサイトはプライベートなSNSを目指していますが、使い方は人それぞれです。
	     とりあえず、部屋を作って、仲間を集めて、一緒に好きなことを話しましょう。	
	     </div>
	</section>
</div>
<footer class="footer">
</footer>


	<h2>Hide Out</h2>