<div class="form"><h2>鍵を開けてください</h2>
<br><%= form_tag("/login") do %>部屋の名前
    <input type="text"  name = "name" >

    <br><i class="fas fa-lock-open fa-2x key"></i>鍵
    <input type = "password" name = "key">

    <input type = "submit" value = "開ける">
<% end %>
</div>