@charset "UTF-8";

body{
	margin:0;
	background-color:#e3f2fd ;
}

.tit{
	margin:0 ;
	text-align: center;
	background:#203;
	color:#ffc;
	text-shadow: 0 0 .1em, 0 0 .3em;
	font-weight:normal;
	
}	
.tit::before,.tit::after{
content:'';
display: inline-block;
width:140px;
height:2px;
margin:0 30px;
background-color:#fff;
vertical-align:middle;
}

.hi{
text-decoration:none;
color:#ffc;
}

.hi:hover{
opacity:0.9;
}

.header{
	background-color:white;
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	margin:0;
}
	

.buttons{
	text-align: center;
}

.button{
display: inline-block;
width: 140px;
padding: 10px;
margin: 10px 10px;
border-radius: 40px;
background-color: #8d6e63;
color:#fff;
text-align:center;
text-decoration: none;
letter-spacing: 1px;
font-size: 1.2rem;
}

.button:hover{
opacity: 0.9;
}




----------------------------------------------------------------------

h2{
font-family:serif;
font-weight:bold;
}

-------------------------------------------------------------------------
.ar{
width:100%;
height:400px;
margin:0 ;
}

.introduce{
width:80%;
margin:10px auto;
padding:80px 30px;
background-color:#80cbc4;
}

.saito{
background-color:white;
font-family: "Rounded Mplus 1c";
font-size:20pt;
text-align:center;
border-bottom: solid 3px #84a2d4;
color:#03a9f4;
}

.about{
width:100%;
height:400px;
margin:10px 0 0 ;
}

.waku {
width:80%;
height:200px;
margin:10px auto;
background-color:white;
font-family: "Rounded Mplus 1c";
font-size:20pt;
} 

.waku-1{
padding:80px 30px ;
margin:0px auto;
font-family: "Nico Moji";
}




